<div id="fullcalendar"></div>

{% put scripts %}
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('fullcalendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            initialDate: '2020-09-12',
            navLinks: true, // can click day/week names to navigate views
            businessHours: true, // display business hours
            editable: true,
            selectable: true,
            events: {
                url: '/api/yfktn/eventgubernur/fullcalendar/events',
                failure: function() {
                    console.log("Error");
                }
            }
        });

        calendar.render();
    });

</script>

{% endput %}