<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="7" style="text-align: center; font-size: 18pt;">
                    <a class="btn btn-xs btn-danger" href="/{{ this.page.baseFileName ~ '/' ~ prevYear ~ '/' ~ prevMonth }}/"><i class="fa fa-arrow-left"></i></a> |
                    Kalendar Bulan {{ currMonth | panggilbulan }} Tahun {{ currYear }}
                    | <a class="btn btn-xs btn-primary" href="/{{ this.page.baseFileName ~ '/' ~ nextYear ~ '/' ~ nextMonth }}/"><i class="fa fa-arrow-right"></i></a>
                </th>
            </tr>
            <tr>
                <th>Senin</th>
                <th>Selasa</th>
                <th>Rabu</th>
                <th>Kamis</th>
                <th>Jumat</th>
                <th>Sabtu</th>
                <th>Minggu</th>
            </tr>
        </thead>
        <tbody>
            {% for weeks in theData %}
            <tr>
                {% for day in weeks %}
                <td>
                    {{ day == -1 ? "" : day }}
                    {% if(daftarKegiatan[day] is defined) %}
                    &nbsp;
                    <a class="btn btn-info btn-xs weel" href="/{{ linkRange }}/{{ currYear ~ '-' ~ currMonth ~ '-' ~ day }}">
                        <i class="fa fa-tag"></i> {{ daftarKegiatan[day] }}
                    </a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>